
<main class="itinerary-page">
  <div class="new-form">
  <h1 id="new-header">Edit Activity:</h1>
  <form action="/users/<%= data.id %>?_method=put" method="POST">
    <div>
      <label for="title" class="labels">Title:</label><br>
      <input type="text" id="title" name="title" value="<%=data.title%>">
    </div>
    <div>
      <label for="address" class="labels">Address:</label><br>
      <input type="text" id="address" name="address" value="<%=data.address%>">
    </div>
    <div>
      <label for="website" class="labels">Website link:</label><br>
      <input type="text" id="website" name="website" value="<%=data.website%>">
    </div>
    <div>
      <label for="notes" class="labels" id="user-notes">Notes:</label><br>
      <input type="text" id="notes" name="notes" value="<%=data.notes%>">
    </div>
    <div class="edit-btns">
      <a href="/users" id="cancel-btn">Cancel</a>
      <input class="submit-btns" type="submit" value="Update"/>
    </div>
  </form>
  </div>
</main>
