<body>
    <ul class="filter-bar">
        <li><p>filter by:</p></li>
        <li class="filter-list-item"><a href='/tokyo'>all</a></li>
        <li class="filter-list-item"><a href='/tokyo/food'>food</a></li>
        <li class="filter-list-item"><a href='/tokyo/lifestyle'>lifestyle</a></li>
        <li class="filter-list-item"><a href='/tokyo/entertainment'>entertainment</a></li>
        <li class="filter-list-item"><a href='/tokyo/culture'>culture</a></li>
        <li class="filter-list-item"><a href='/tokyo/shopping'>shopping</a></li>
     </ul>
     <% data.forEach(details => { %>
        <div class="activity-container">
            <h3><%= details.title %></h3>
            <p><%= details.price %></p>
            <a href="<% details.googleMap %>"" >MAPS ICON</a>
            <p>Address: <%= details.address %></p>
            <p>Website: <%= details.website %></p>
            <p>Approximate Time for Activity: <%= details.time %></p>
            <ul class= "activity-controls">
                <li><a href="/tokyo/<%= details.id %>">Read More</a></li>
                <li><a href="/tokyo/####">Add to Itinerary</a></li>
            </ul>
        </div>
            <% }) %>
</body>