
<main>
    <ul class="filter-bar">
        <li><p>filter by:</p></li>
        <li><a href='/tokyo' class="filter-list-item">all</a></li>
        <li><a href='/tokyo/category/food' class="filter-list-item">food</a></li>
        <li><a href='/tokyo/category/lifestyle' class="filter-list-item">lifestyle</a></li>
        <li><a href='/tokyo/category/entertainment' class="filter-list-item">entertainment</a></li>
        <li><a href='/tokyo/category/culture' class="filter-list-item">culture</a></li>
        <li><a href='/tokyo/category/shopping' class="filter-list-item">shopping</a></li>
        <li><a href='/tokyo/category/nightlife' class="filter-list-item">nightlife</a></li>
     </ul>

     <% data.forEach(details => { %>
        <div class="activity-container" id="<%= details.title %>">
            <div class="title-price-location-cat-container">
                <h2 class="text-body" id="title"><%= details.title %></h2>
                <div class="price-genLocation-cat-container">
                    <p class="text-body" id="price"><%= details.price %> •</p>
                    <p class="text-body" id="category"><%= details.category %> • </p>
                    <p class="text-body" id="genLocation"><%= details.genLocation %> •</p>
                    <p class="text-body" id="time"><%= details.time %></p>
                </div>
            </div>
    
            <div class="tips-container">
                <img class="text-body" id="tips-icon" src="/img/Kacies_Tips_Icons.png" alt="Kacies-Tips-Icon">
                <p class="text-body" id="tips"><%= details.description %></p>
            </div>
            <ul class= "activity-controls">
                <li><a href="/tokyo/<%= details.id %>" class="activity-btn" id="read-more-btn">Read More</a></li>
                <li><a href="/users/" class="activity-btn add-btn" data-title="<%= details.title %>">Add to Itinerary</a></li>
            </ul>
        </div>
            <% }) %>
    </main>


