<body>
    <a href='/tokyo/new'><span>Create activity</span></a>
    <ul>
        <li><a href='/tokyo'>all</a></li>
        <li><a href='/tokyo/food'>food</a></li>
        <li><a href='/tokyo/lifestyle'>lifestyle</a></li>
        <li><a href='/tokyo/entertainment'>entertainment</a></li>
        <li><a href='/tokyo/culture'>culture</a></li>
        <li><a href='/tokyo/shopping'>shopping</a></li>
     </ul>
    <div>
        <% data.forEach(details => { %>
            <h3><%= details.title %></h3>
            <p><%= details.price %></p>
            <div>
                <a href="<% details.googleMap %>"" >GOOGLE MAPS ICON</a>
                <p><%= details.address %></p>
            </div>
            <p><%= details.website %></p>
            <p>Approximate Time for Activity: <%= details.time %></p>
            <a href="/tokyo/<%= details.id %>">Read More</a>
            <a href="/tokyo/####">Add to Itinerary</a>
            <a href="/tokyo/edit/<%= details.id %>/">Edit</a>
            <form action="/tokyo/<%= details.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete"/>
            </form>
        <% }) %>
    </div>
</body>