<body>
    <h1>Build-A-Trip</h1>
   <a href='/tokyo/new'></a>
    <ul style="display:flex; justify-content: space-between;">
        <li><a href='/tokyo'>all</a></li>
        <li><a href='/tokyo/food'>food</a></li>
        <li><a href='/tokyo/stays'>stays</a></li>
        <li><a href='/tokyo/entertainment'>entertainment</a></li>
        <li><a href='/tokyo/nightlife'>nightlife</a></li>
        <li><a href='/tokyo/culture'>culture</a></li>
        <li><a href='/tokyo/shopping'>shopping</a></li>
     </ul>
    <div>
        <h3><%= details.title %></h3>
        <p><%= details.price %></p>
        <p><%= details.address %></p>
        <p><%= details.website %></p>
        <p><%= details.time %></p>
    </div>
</body>