
    <main>
        
        <div class="show-activity-container">
            <div class="title-price-location-cat-container" id="view-upper-text">
                <h2 class="text-body" id="title"><%= details.title %></h2>
                <div class="price-genLocation-cat-container">
                    <p class="text-body" id="price"><%= details.price %> •</p>
                    <p class="text-body" id="category"><%= details.category %> • </p>
                    <p class="text-body" id="genLocation"><%= details.genLocation %></p>
                </div>
            </div>
            <p class="view-text" id="address"><%= details.address %></p>
            <p class="view-text" id="time">
                <span class="labels">Duration:</span>
                <%= details.time %>
            </p>
            <p class="view-text" id="website">
                <span class="labels">Website:</span><br>
                <%= details.website %>
            </p>
            <p class="view-text" id="english">
                <span class="labels">English?</span><br>
                <%= details.english %>
            </p>
            <p class="view-text" id="website">
                <span class="labels">Kacie's Tips:</span><br>
                <%= details.description %>
            </p>
            <a href="/tokyo/" class="activity-btn" id="back-btn">Back</a>
        </div>
    </main>
