<body>
     <% data.forEach(details => { %>
        <div class="activity-container">
            <h3><%= details.title %></h3>
            <p><%= details.price %></p>
            <a href="<% details.googleMap %>"" >MAPS ICON</a>
            <p>Address: <%= details.address %></p>
            <p>Website: <%= details.website %></p>
            <p>Approximate Time for Activity: <%= details.time %></p>
            <ul class= "activity-controls">
                <li><a href="/users/<%= details.id %>">Read More</a></li>
                <li><a href="/users/####">Add to Itinerary</a></li>
                <li><a href="/users/edit/<%= details.id %>/">Edit</a></li>
                <li><form action="/users/<%= details.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form></li>
            </ul>
        </div>
            <% }) %>
</body>